.btn-colour {
  background-color: #5AB2FF;
  border-color: #5AB2FF;
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
  --color-costum: #5ab2ff;
}

.bg-costum {
  background-color: var(--color-costum);
}

.content h1 {
  font-size: 20px; 
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

body.fixed-nav {
  padding-top: 56px;
}

.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
  background-color: transparent;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-nav  .nav-link {
  cursor: pointer;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  float: right;
  content: '\f107';
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
  content: '\f105';
}

#mainNav .navbar-collapse .navbar-sidenav {
  padding-left: 0;
}

#mainNav .navbar-collapse .navbar-sidenav > li > a{
  display: block;
  padding: 0.5em 0;
}

#mainNav .navbar-collapse .navbar-sidenav > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav > li > a:hover {
  text-decoration: none;
}

#mainNav .navbar-collapse .navbar-sidenav > li > a {
  padding-left: 1em;
}

#mainNav .navbar-collapse .navbar-sidenav > li > a {
  padding-left: 2em;
}

#mainNav .navbar-collapse .sidenav-toggler {
  display: none;
}

#mainNav .sidenav-toggler.active {
  display: block;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px;
  }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    padding-left: 0;
    list-style: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > li,
  #mainNav .navbar-collapse .navbar-sidenav > li {
    width: 250px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > li > a,
  #mainNav .navbar-collapse .navbar-sidenav > li > a {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > li > a {
    padding-left: 2.75em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > li > a {
    padding-left: 3.75em;
  }
  #mainNav .navbar-collapse  > .nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse > .nav-link:after {
    width: 24px;
    text-align: center;
  }
}

#mainNav.fixed-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh - 112px);
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
  }
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #212529;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: #adb5bd;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dee2e6;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: rgba(0, 0, 0, 0.5);
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px;
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important;
}

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

#mainNav.static-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.content-wrapper {
  overflow-x: hidden;
  background: white;
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 250px;
  }
}

#sidenavToggler i {
  font-weight: 800;
}

.navbar-sidenav-tooltip.show {
  display: none;
}

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper {
    margin-left: 55px;
  }
}

body.sidenav-toggled .navbar-sidenav {
  width: 55px;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
  width: 55px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item {
  white-space: nowrap;
}

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: #adb5bd;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav >,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > a {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > li > a:hover {
  color: #adb5bd;
}

#mainNav.navbar-dark .navbar-collapse > .nav-link:after {
  color: #adb5bd;
}

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #343a40;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
    color: white !important;
    background-color: #495057;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
    color: white;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > {
    background: #343a40;
  }
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav  {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav >  li > a:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse > .nav-link:after {
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
    color: #000 !important;
    background-color: #e9ecef;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
    color: #000;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa;
  }
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}
.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

/* General styling for the dropdown */
/* Parent dropdown positioned at the top right */
.dropdown {
  position: fixed;
  top: 10px;
  right: 100px;
}

/* Dropdown toggle button */
.dropdown-toggle {
  cursor: pointer;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  display: flex;
  align-items: center;
}

/* Icon inside the toggle button */
.dropdown-toggle .icon {
  margin-left: 10px;  
  transition: transform 0.3s ease;
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5px;
  top: 100%; /* Memastikan dropdown menu muncul tepat di bawah tombol toggle */
  right: 0;
}

/* Show the dropdown menu when the class 'show' is added */
.dropdown-menu.show {
  display: block;
}

/* Rotate the icon when the toggle button is active */
.dropdown-toggle.active .icon {
  transform: rotate(180deg);
  transition: transform 0.3s; 
}

/* Media query untuk tampilan mobile (lebar maksimum 768px) */
@media (max-width: 768px) {
  .dropdown {
    position: static; /* Mengembalikan ke posisi normal (non-fixed) */
    margin-top: 10px; /* Jarak dari atas untuk mobile */
  }

  .dropdown-toggle {
    display: block; /* Menampilkan tombol toggle dengan blok */
    width: 100%; /* Lebar penuh */
    text-align: left; /* Teks rata kiri */
  }

  .dropdown-toggle .icon {
    margin-left: auto; /* Geser ikon ke kanan */
  }

  .dropdown-menu {
    position: relative; /* Ubah ke posisi relatif untuk menyesuaikan dengan parent */
    width: 100%; /* Lebar penuh */
    margin-top: 5px;
    box-shadow: none; /* Hapus bayangan untuk tampilan dropdown */
    border-top: 1px solid #ddd; /* Garis atas untuk memisahkan item dropdown */
  }
}
/* main */
.user-name {
  margin-left: 6px; /* Atur sesuai kebutuhan */
  margin-right: 4px; /* Atur sesuai kebutuhan */
}

.navbar-nav .nav-item.dropdown {
  background-color: transparent; /* Menghilangkan latar belakang */
}

.navbar-nav .nav-link.dropdown-toggle {
  background-color: transparent; /* Menghilangkan latar belakang */
  padding: 0; /* Mengatur padding jika diperlukan */
  margin: 0; /* Mengatur margin jika diperlukan */
  display: flex;
  align-items: center;
  height: 34px;
}

.navbar-nav .dropdown-menu {
  background-color: transparent; /* Menghilangkan latar belakang dropdown */
  border: none; /* Menghilangkan border jika ada */
}


.navbar-nav .user-name {
  color: #ffffff; /* Warna teks sesuai kebutuhan */
}

.content-wrapper {
  margin-left: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1760A5 !important;
  font-family: 'Poppins', sans-serif;
}

.content {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.dropdown-menu {
  background-color: #1760A5 !important;
  font-family: 'Poppins', sans-serif;
  margin-top: 18px; 
}

.dropdown-menu .dropdown-item {
  color: white !important;
  font-family: 'Poppins', sans-serif;
}

.navbar-nav .nav-link.dropdown-toggle i {
  color: white !important;
  font-family: 'Poppins', sans-serif;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #124578 !important;
  font-family: 'Poppins', sans-serif;
}

.dropdown-menu .dropdown-item.active {
  background-color: #124578 !important;
  font-family: 'Poppins', sans-serif;
}

.dropdown-menu .dropdown-divider {
  background-color: #124578 !important;
  font-family: 'Poppins', sans-serif;
}

.dropdown-menu .dropdown-header {
  color: white !important;
  font-family: 'Poppins', sans-serif;
}

.dropdown-menu .dropdown-header:hover {
  background-color: transparent !important;
  font-family: 'Poppins', sans-serif;
}

.navbar-nav .dropdown-menu-end {
  background-color: #1760A5 !important;
  right: 0;
  left: auto;
  transform: translateX(0%);
  font-family: 'Poppins', sans-serif;
}